<!doctype html>
<html lang="en">
  <%- include('./partials/meta/head') %>
  <body>
    <div id="app">
      <%- include('./partials/header') %>
      <main>
        <%
				if (problems.length == 0) { %>
        <%- include('./partials/no-data') %>
        <% } else { %>
        <div class="problem-container">
          <ul class="problem-list">
            <% problems.forEach(function(problem) { %>
            <li class="problem-item">
              <a href="<%= problem.link %>" target="_blank" rel="noopener"> <%= problem.name %> </a>
            </li>
            <% }); %>
          </ul>
        </div>
        <% }
			%>
      </main>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
