<div class="logs-container tw:container tw:py-4">
  <div class="tw:h5 tw:text-center tw:py-4">Submissions Log</div>
  <ul
    class="tw:mt-3 tw:grid tw:gap-3 tw:grid-cols-4 tw:max-lg:grid-cols-3 tw:max-sm:grid-cols-2 tw:max-xs:grid-cols-1"
    id="<%= user.username %>-logs"
  >
    <% logs.forEach((_) => { if (_.name) { %>
    <li id="<%= _.user%>-<%= _.name%>">
      <details class="tw:rounded-lg tw:border tw:max-w-sm tw:border-black/10 tw:open:bg-gray-100 tw:relative">
        <summary class="tw:rounded-lg tw:font-semibold tw:p-3" style="background-color: <%= _?.color %>">
          <%= _?.name %> - <%= _.score %>
        </summary>
        <div
          class="tw:mt-2 tw:px-2 tw:font-normal tw:overflow-hidden tw:absolute tw:top-10 tw:left-0 tw:right-0 tw:z-4 tw:bg-gray-200 tw:max-h-52 tw:overflow-y-auto"
        >
          <% _?.content.forEach(_ => { %>
          <p class="tw:text-ellipsis"><%= _ %></p>
          <% }) %>
        </div>
      </details>
    </li>

    <% } }) %>
  </ul>
</div>
